
{{ define "main" }}
<div class="container">

<section id="main">
  <div class="row mt-5">

    <div class="col-lg-8 mb-3">
      <div class="card" style="">
        <div class="card-body">
          <p class="card-text font-weight-light mb-3 small">by, {{.Params.Author}} <span class="small text-muted">| Update, {{ .Date.Format "Mon Jan 2, 2006" }}</span></p>
          <h2 class="card-title font-weight-bold">{{ .Title }}</h2>
          <hr>
          <img src="{{ with .Params.image }}{{ . }}{{ end }}" class="card-img-top mt-3" alt="">
          <p class="card-text mt-5 text-justify mb-5">{{ .Content }}</p>
          <aside id="meta">
              <div>
              {{ with .Params.topics }}
              <ul id="topics">
                {{ range . }}
                  <li><a href="{{ `topics` | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
              </ul>
              {{ end }}
              {{ with .Params.tags }}
              <ul id="tags">
                {{ range . }}
                  <li> <a href="{{ `tags` | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
              </ul>
              {{ end }}
              </div>
          
              <p class="" style="margin-bottom: -20px;margin-top: 200px;">Baca juga :</p>
              <p>
                  {{ with .PrevInSection }}
                    <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
                  {{ end }}
                  <br>
                  {{ with .NextInSection }}
                    <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
                  {{ end }}
              </p>
          </aside>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="card" style="">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Artikel terbaru</h4>
          <hr>
        </div>
      </div>
    </div>

  </div>
</section>

</div>
{{ end }}