<div class="container">
    <div class="row">
        <div class="col-lg-4 align-self-center">
            <img src="/weblogo1.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-8 align-self-center text-justify">
            <p class="h2">
                Tentang asfahstudio
            </p>
            <p>
                asfahstudio adalah blog yang membahas tentang dunia pemrograman web dan mobile menggunakan sistem operasi Linux. Disini akan membahas pemrograman mulai dari enol ya dari dasar banget pokoknya yang gak tau apa-apa tentang dunia pemrograman saya merekomendasikan mengunjungi dan terus mempelajari artikel yang ada di blog ini. 
            </p>
            <p>
                Blog ini membahas tentang dunia pemrograman menurut sepengetahuan penulis dan berbagai sumber, semoga apa yang di bagikan bisa bermanfaat untuk anda semua. Dan jangan lupa hanya kepada Allah lah kita meminta petunjuk karena Allah lah sang Maha Pemberi Petunjuk.
            </p>
            <button type="button" class="btn btn-primary">Semoga Berkah</button>
        </div>
    </div>
</div>