<div class="jumbotron jumbotron text-white rounded-0 mt-5" style="background-color: #40739e;">
    <div class="container">
        <p class="lead">Follow us:</p>
        <p class="h1">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-github"></i>
            <i class="fab fa-gitlab"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-telegram"></i>
        </p>
    </div>
</div>